.daily-log{
     display: flex;
      flex-direction: column;
      box-sizing: border-box;
      align-items: center;
      font-family: 'Courier New', Courier, monospace;
      background-size: cover;
      .content{
          display: flex;
     
      }
  
      .leftside{
          width: 40%;
          border-right: 1px solid black;
          height: fit-content;
          align-self: baseline;
          display: flex;
          flex-direction: column;
      }
      
        h1{
          padding-top: 5%;
        }
     .mood{
         flex-direction: column;
         i{
             margin:30px;
         }
     }
     .action{
         align-items: center;
         display: flex;
         flex-direction: column;
     }
     .stories{
      width: 60%;
      height: fit-content;
      display: flex;
      flex-direction: column;
      .story{
          margin:20px ;
          max-height: 250px;
          overflow-y: auto;
          padding:15px;
          border-radius: 10px;
          position:relative;
          text-align: justify;
          overflow:auto;
          border:3px solid black;
          -webkit-border-radius:30px;
          -moz-border-radius:30px;
          border-radius:30px;
          -webkit-box-shadow:2px 2px 4px #888;
          -moz-box-shadow:2px 2px 4px #888;
          box-shadow: 2px 2px 4px #888;
          .story_text{
              font-family: 'Courier New', Courier, monospace;
  
             
        
          }
      }
     }
     
      div{
          margin:10px;
          align-items: center;
          display: flex;
      }
      
      .block {
          display: -webkit-box;
          display: -moz-box;
          display: -ms-flexbox;
          display: -webkit-flex;
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          li{
              margin:15px 15px 15px 15px;
              //font-size: 20px;
              font-family: 'Courier New', Courier, monospace;
              list-style: circle;
            
          }
        }
        
       
          
      
  }
 *{
      scroll-behavior: smooth;
         
}
.scrollRec{
    display: flex;
    flex-direction: column;
    background:linear-gradient(to bottom, #ffffff ,#f2e3de, #e5c7bd);

    //height: 100vh;
    .scrollDiv{

        height: 10%;
    }

}
  
  
      
      