@import "variables.less";
.footer {
    background-color: #EDEAE5;
    margin-left: -10px;
    margin-right: -10px;
    height: 20vh;
    display: flex;
    flex-direction: column;
    
}
.footer-content{
    //background-color: black;
    //color: antiquewhite;
    padding-left: 30%;
    padding-right: 30%;
    margin-top: 30px;
    margin-bottom: 30px;

    display: flex;
    flex-direction: row;
    
    justify-content: space-between;
    align-items: center;

}

.footer-label{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    
   
}
.h3-label {
    text-align: center;
    font-family: @font-label;   
    color: black;
}