.container{
    width:100%;
    height: 100vh;
    position: relative;
    .dayContainer, .calendarContainer{
        width: 50vw;
    }
    .dayContainer{
        .daily-log{
            width: 50vw;
        }
    }
    

}