.up {
    display: flex;
    flex-direction: row;
    width: 100%;
    font-family: 'Courier New', Courier, monospace;
    .calendar{
        width: 50%;
        justify-self: center;
        height: 100vh;
        .title {
            color: #523249;
            font-size: 30px;
            background-color: #E2C2C6;
            text-align: center;
          }
          .content {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 93%;
       
            background-color: #E2C2C6;
            .calendarContainer{
                display: flex;
                flex-direction: column;
                align-items: center;
                height: 50%;
                .react-calendar{
                    font-family: 'Courier New', Courier, monospace;
                    font-size: 20px;
                }
            }
          }
    }
    .whenMemos {
        position: relative;
        width: 50%;
        height: 100vh;
        background-color:  #B9929F;
        ;
      }
  }