@import "variables.less";
*{
    font-family: 'Courier New', Courier, monospace;
}
header{
    position:fixed;
    top:0;
    left:0;
    padding:0 10px;
    height: 9vh;
    background-color: @grey;
    width:100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    .logo{
        width: 10vw;
             img{
             height: 9vh;
             }
        

    }
    nav{
        width: 100vw;
        margin: auto;
        .list{
            display: flex;
            flex-direction: row;
            margin: auto;
            //padding-left: 15%;
        }
        .logout{
            margin-top: auto;
             margin-bottom: auto;
             margin-right: 0;
             margin-left: auto;
        }
       
        ul{
            margin: auto;
            padding:10px;
            display:flex;
            li,p{
                font-weight: bold;
                padding-right: 20px;
                list-style:none;
                //margin: auto;
              
                a{
                    height: 50px;
                    line-height: 50px;
                    padding: 0 20px;
                    color:@green;
                    text-decoration: none;
                    display:block;  
                    &:hover{
                        background: grey;
                        color: azure;
                    }
                }
               
               
            }

        }
    
    }
    
    
        

    
    .menu-toogle{
        margin-top: auto;
        margin-bottom: auto;
        margin-left: auto;
        color:@green;
        float:right;
        line-height: 50px;
        font-size: 24px;
        cursor: pointer;
        display:none;
    }
    
}
@media (max-width:805px){
    .logged{
        
        z-index: 99999999;
        position:fixed;
        .menu-toogle{
            display:block;
        }
        
        .active{
           
            display: block;
        }
        .active-logout{
           
            display: block;
        }
        .logOut{
            display:none;
        }
        .list{
            display: flex;
            flex-direction: column;
            margin: auto;
        }
        nav{
            display:none;
            position: absolute;
            width:100%;
            background: @grey;
            top:50px;
            transition:0.5s;
           
           
            
            ul{
                display:block;
                text-align: center;
                li{
                    a{
                        border-bottom: 1px solid rgba(0, 0, 0, .2);
                    }
                }

            }
        }
    }
    

}
.logIn{
    color:@green;
    margin-top: auto;
    margin-bottom: auto;
    text-decoration: none;
    font-weight: bold;
    float: right;
    a{
        height: 50px;
        line-height: 50px;
        padding: 0 20px;
        color:@green;
        text-decoration: none;
        display:block;  
        &:hover{
            background: grey;
            color: azure;
        }
    }
}
.unLogged{
    position:fixed;
    nav{
        margin-top: auto;
        margin-bottom: auto;
        margin-right: 0;
    }
}