.recomendation{
  display:flex;
  //height: 80vh;
  padding-top: 5%;

  //padding-top:10vh;

  .container {
      
      display: flex;
      flex-direction: row;
      align-items: center;
      font-family: 'Courier New', Courier, monospace;
      justify-content: center;
      align-items: baseline;
      background-color: transparent;
  }
  .content{
      //padding:5%;
      p,i{
          padding:5%;
      }
     
      img{
          height: 30vh;
          width: 90%; 
          padding-top:5%;
      }
      h2{
          padding-top: 5%;
      }
     
  }

}
