.recomendation{
  display:flex;
  //height: 80vh;
  //padding-top: 10%;

  //padding-top:10vh;

  .container {
      
      display: flex;
      flex-direction: row;
      align-items: center;
      font-family: 'Courier New', Courier, monospace;
      justify-content: center;
      padding-top: 7.5%;
      //align-items: baseline;
      //background-color: transparent;
      //background-color:#ffffff69;
  }
  .content{
      //padding:5%;
      p{

          height: 500px;
      }
      p,i{

          padding:5%;
      }
        i{
            position: relative;
            margin-top: auto;
        }
     
      img{
          height: 30vh;
          width: 90%; 
          padding-top:5%;
          object-fit:none;
          //object-position: 100% 0;
      }
      h2{
          padding-top: 5%;
      }
     
  }

}
