/*@import "variables.less";
@color-base: #2d5e8b;
  .b-top-menu {
    background-color: #f2e3de;
    top: 0;
    z-index: 999999999999;
    position: fixed;
    right: 0;
    width: 25vw; 
  }
  .b-top-menu .b-top-menu-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .b-top-menu-nav{
    display: flex;
    flex-direction: column;
    text-align:justify;
    color:@green;
  }
  .b-top-menu .b-top-menu-nav float .b-logo-img {
    height: 60px;
    width: 60px;
    margin-left: 10px;
  }
  .b-logo {
    img{
    height: 9vh;
    }

  }
  .b-top-menu .b-top-menu-nav .b-top-menu-nav-list li {
    display:inline-block;
    font-weight: bold;
    padding-right: 20px;
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
  }
  .b-top-menu .b-top-menu-nav .b-top-menu-nav-list li a {
    text-align: center;
    display: inline-block;
    padding: 0.5em 1.5em;
    color: @green;
    text-decoration: none;
  }
  .b-top-menu .b-top-menu-nav .tb-op-menu-nav-list li a:hover{
  background: grey;
  color: azure;
  }
  .b-centered{
    justify-content: center;
    align-self: center;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
*/
.burger-container {
  display: inline-block;
  height: 36px;
  margin-left: 10px;
  margin-top: 7px;
  width: 33px;
}
@include mq-desktop {
  display: none;
}
.burger-icon-link {
  display: inline-block;
  line-height: 8.5px;
  text-decoration: none;
  width: 33px;
}
.white-burger-icon-color {
  background-color: black !important;
}
.active-slide-panel {
  margin-left: 20px;
  margin-top: 19px;
}
.burger-span-element {
  display: inline-block;
  height: 3px;
  width: 30px;
}
