.calendar-container,
.calendar,
.calendar-header,
td,
tr {
  padding: 0;
  margin: 0;
}
.calendar-container {
  border: 2px solid lightcoral;
  width: 100%;
  height: 100vh;
  font-family: 'Courier New', Courier, monospace;
}
.calendar-container .calendar {
  background-color: white;
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;
}
.calendar-container .calendar .week-day {
  font-size: 1.2em;
  font-weight: bold;
}
.calendar-container .calendar .calendar-header {
  border-bottom: 1px dashed lightcoral;
  font-size: 1.2em;
}
.calendar-container .calendar .calendar-header td {
  border-spacing: 0;
  padding-left: 5px;
}
.calendar-container .calendar .calendar-header .prev,
.calendar-container .calendar .calendar-header .next {
  font-size: 4em;
  cursor: pointer;
  padding-left: 5%;
}
.calendar-container .calendar .calendar-header .editor-year {
  max-width: 5em;
  font-size: 1em;
}
.calendar-container .calendar .calendar-header .label-month,
.calendar-container .calendar .calendar-header .label-yaer {
  font-size: 1em;
  cursor: pointer;
}
.calendar-container .calendar .day {
  cursor: pointer;
  width: 24px;
  height: 24px;
  line-height: 24px;
  font-size: 18px;
}
.calendar-container .calendar .current-day {
  background-color: lightcoral;
  width: 28px;
  height: 28px;
  line-height: 28px;
  color: white;
}
.calendar-container .calendar .selected-day {
  background-color: #f5bfe3;
  width: 28px;
  height: 28px;
  line-height: 28px;
  color: black;
}
.calendar-container .calendar .month-popup {
  position: absolute;
  padding: 5px;
  background: white;
  border: 2px solid skyblue;
}
.calendar-container .calendar .month-popup div {
  padding: 0.3em;
}
.calendar-container .calendar .nav-month {
  top: 0.6em;
  font-size: 0.6em;
  right: 3px;
}
