.daily-log {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-items: center;
  font-family: 'Courier New', Courier, monospace;
  background-size: cover;
}
.daily-log .scroll {
  margin-bottom: 30px;
}
.daily-log h1 {
  padding-top: 5%;
}
.daily-log .mood i {
  margin: 30px;
}
.daily-log .action {
  align-items: center;
}
.daily-log .stories {
  width: 85%;
}
.daily-log .stories .story {
  margin: 20px ;
  padding: 15px;
  border-radius: 10px;
  position: relative;
  text-align: justify;
  overflow: auto;
  border: 3px solid black;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  -webkit-box-shadow: 2px 2px 4px #888;
  -moz-box-shadow: 2px 2px 4px #888;
  box-shadow: 2px 2px 4px #888;
}
.daily-log .stories .story .story_text {
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
}
.daily-log div {
  margin: 10px;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.daily-log .block {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.daily-log .block li {
  margin: 15px 15px 15px 15px;
}
#keep_track_btn {
  display: block;
  height: 90px;
  width: 90px;
  border-radius: 50%;
  margin: auto ;
  position: relative;
  font-family: 'Courier New', Courier, monospace;
  color: black;
  font-size: 20px;
  border: 1px solid black;
  border-width: 2px;
  background: transparent;
}
#keep_track_btn a {
  text-decoration: none;
}
