.daily-log {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-items: center;
  font-family: 'Courier New', Courier, monospace;
  background-size: cover;
}
.daily-log .content {
  display: flex;
}
.daily-log .leftside {
  width: 40%;
  height: 70vh;
  border-right: 1px solid black;
  height: fit-content;
  align-self: baseline;
  display: flex;
  flex-direction: column;
}
.daily-log h1 {
  padding-top: 5%;
}
.daily-log .mood {
  flex-direction: column;
}
.daily-log .mood i {
  margin: 30px;
}
.daily-log .action {
  align-items: center;
  display: flex;
  flex-direction: column;
}
.daily-log .stories {
  width: 60%;
  height: 70vh;
  display: flex;
  flex-direction: column;
}
.daily-log .stories .story {
  margin: 20px ;
  max-height: 200px;
  overflow-y: auto;
  padding: 15px;
  border-radius: 10px;
  position: relative;
  text-align: justify;
  overflow: auto;
  border: 3px solid black;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  -webkit-box-shadow: 2px 2px 4px #888;
  -moz-box-shadow: 2px 2px 4px #888;
  box-shadow: 2px 2px 4px #888;
}
.daily-log .stories .story .story_text {
  font-family: 'Courier New', Courier, monospace;
}
.daily-log div {
  margin: 10px;
  align-items: center;
  display: flex;
}
.daily-log .block {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.daily-log .block li {
  margin: 15px 15px 15px 15px;
  font-family: 'Courier New', Courier, monospace;
  list-style: circle;
}
* {
  scroll-behavior: smooth;
}
.scrollRec {
  display: flex;
  flex-direction: column;
  background: linear-gradient(to bottom, #ffffff, #f2e3de, #e5c7bd);
}
.scrollRec .scrollDiv {
  height: 10%;
}
