.footer {
  background-color: #EDEAE5;
  display: flex;
  flex-direction: column;
}
a {
  color: black;
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
a:link {
  text-decoration: none;
}
a .icon {
  color: black;
}
a .icon:visited {
  color: black;
}
a .icon:link {
  color: black;
}
a .icon:active {
  color: black;
}
.footer-content {
  padding-left: 30%;
  padding-right: 30%;
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.footer-label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}
.h3-label {
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  color: black;
}
