.manageMemos {
  width: 100%;
}
.memoOfTheDay {
  padding: 30px;
}
.dayClicked {
  margin-bottom: 10px;
  font-size: 30px;
  color: black;
  text-align: center;
}
.memoListOfTheDay {
  background-color: #2ea7330d;
  margin-top: 40px;
  padding: 15px 0;
  border-radius: 10px;
  overflow-y: auto;
}
.memoListEmpty {
  padding: 30px 0 0 0;
  color: black;
  font-size: 25px;
}
