.up {
  padding-top: 15vh;
  display: flex;
  width: 100%;
  font-family: 'Courier New', Courier, monospace;
  border-left: 1px solid black;
}
.up .calendar {
  justify-self: center;
  height: 100vh;
}
.up .calendar .title {
  color: black;
  font-size: 30px;
  text-align: center;
}
.up .calendar .content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 93%;
}
.up .calendar .content .calendarContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 50%;
}
.up .calendar .content .calendarContainer .react-calendar {
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
  width: 60%;
  border: 0px;
}
.up .calendar .content .calendarContainer .react-calendar .react-calendar__navigation {
  height: 40%;
  background-image: url(../assets//img/blur.jpeg);
  background-size: cover;
  background-position-y: center;
}
.up .calendar .content .calendarContainer .react-calendar .react-calendar__navigation button {
  font-size: 130%;
  font-family: cursive;
}
.up .calendar .content .calendarContainer .react-calendar .react-calendar__navigation button:hover {
  background-color: transparent;
}
.up .calendar .content .calendarContainer .react-calendar .react-calendar__navigation button:focus {
  background-color: transparent;
}
.up .calendar .content .calendarContainer .react-calendar .react-calendar__tile--hasActive {
  background: #2ea7330d;
  border-radius: 10%;
  color: #004d40;
}
.up .calendar .content .calendarContainer .react-calendar .react-calendar__month-view .react-calendar__month-view__weekdays {
  font-family: 'Courier New', Courier, monospace;
}
.up .calendar .content .calendarContainer .react-calendar .react-calendar__month-view .react-calendar__month-view__weekdays abbr {
  text-decoration: none;
}
.up .calendar .content .calendarContainer .react-calendar .react-calendar__month-view .react-calendar__tile--active {
  background: #2ea7330d;
  border-radius: 10%;
  color: #004d40;
}
.up .whenMemos {
  position: relative;
  background-size: cover;
}
