* {
  scroll-behavior: smooth;
}
.hide {
  display: none;
}
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}
.mood-picker {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: stretch;
  padding-top: 150px;
}
.mood-picker .arrow {
  padding-top: 200px;
  position: absolute;
}
.mood-picker a {
  align-self: center;
}
.mood-picker .h3-label {
  font-size: 40px;
  padding-top: 210px;
}
.activity-picker {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  align-content: center;
  margin-top: 120px;
}
.activity-picker .h3-label {
  font-size: 40px;
  padding-top: 250px;
}
.activity-picker .arrow {
  margin-top: 100px;
  padding-top: 110px;
}
.activity-picker a {
  align-self: center;
}
.activity-picker .block {
  padding-top: 100px;
}
.story-sharer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin-top: 200px;
}
.story-sharer .h3-label {
  font-size: 40px;
}
.story {
  display: flex;
  flex-direction: column;
}
.story .story-text {
  font-family: 'Courier New', Courier, monospace;
  font-size: 18px;
  resize: none;
  word-wrap: normal;
  margin: auto;
  margin-top: 70px;
  width: 500px;
  height: 200px;
  outline: none;
  -moz-appearance: none;
  border: none;
}
.story .round-btn {
  margin: auto;
  margin-top: 50px;
  margin-bottom: 100px;
}
.block {
  padding: 0;
  margin: 0;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 30px;
  list-style: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: wrap;
  justify-content: space-around;
}
.flex-item {
  display: inline-block;
  padding: 5px;
  margin-top: 100px;
  color: #013220;
  font-weight: bold;
  text-align: center;
}
.flex-item .hideLabel {
  font-family: 'Courier New', Courier, monospace;
  font-size: 25px;
  text-align: center;
  margin-top: 20px;
  visibility: hidden;
}
.flex-item .showLabel {
  font-family: 'Courier New', Courier, monospace;
  font-size: 25px;
  text-align: center;
  visibility: hidden;
  margin-top: 20px;
  visibility: visible;
}
.flex-item .h6-label {
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  font-size: 13px;
  visibility: hidden;
  margin-top: 20px;
}
.flex-item img {
  height: 130px;
  width: 130px;
}
.flex-item .imgA {
  height: 50px;
  width: 50px;
}
.flex-item:hover {
  color: #004d40;
}
.flex-item:hover .h6-label,
.flex-item:hover .h5-label,
.flex-item:hover .hideLabel,
.flex-item:hover .showLabel {
  color: #004d40;
  visibility: visible;
  background-color: rgba(240, 248, 255, 0.205);
}
.flex-item:hover .sad {
  content: url(../assets/img/sad_green.png);
}
.flex-item:hover .happy {
  content: url(../assets/img/happy_green.png);
}
.flex-item:hover .good {
  content: url(../assets/img/good_green.png);
}
.flex-item:hover .wow {
  content: url(../assets/img/wow_green.png);
}
.flex-item:hover .wtf {
  content: url(../assets/img/wtf_green.png);
}
.flex-item:hover .excited {
  content: url(../assets/img/excited_green.png);
}
.h5-label {
  font-family: 'Courier New', Courier, monospace;
  font-size: 25px;
  text-align: center;
  visibility: hidden;
  margin-top: 20px;
}
.video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  z-index: -100;
  object-fit: fill;
  min-height: 100%;
  min-width: 100%;
}
.h3-label {
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  color: black;
}
