.recomendation {
  display: flex;
}
.recomendation .container {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: 'Courier New', Courier, monospace;
  justify-content: center;
  background-color: #ffffff69;
}
.recomendation .content p {
  height: 500px;
}
.recomendation .content p,
.recomendation .content i {
  padding: 5%;
}
.recomendation .content img {
  height: 30vh;
  width: 90%;
  padding-top: 5%;
}
.recomendation .content h2 {
  padding-top: 5%;
}
