@media screen and (max-width: 1690px) {
  .video {
    width: unset;
  }
  .submit-btn {
    right: 60px;
  }
  .activity-picker {
    padding-top: 50px;
  }
  .activity-picker .h3-label {
    padding-top: 120px;
  }
  .activity-picker .arrow {
    padding-top: 150px;
  }
}
@media screen and (max-width: 1560px) {
  .video {
    width: unset;
  }
  .submit-btn {
    right: 60px;
  }
  .activity-picker {
    padding-top: 80px;
  }
  .activity-picker .h3-label {
    padding-top: 120px;
  }
  .activity-picker .arrow {
    padding-top: 85px;
  }
}
@media screen and (max-width: 1190px) {
  .video {
    top: 47%;
    width: unset;
    min-height: 100%;
  }
  .mood-picker .h3-label {
    padding-top: 85px;
  }
  .mood-picker .block {
    margin-top: 50px;
  }
  .mood-picker .block .flex-item {
    margin-top: 20px;
  }
  .mood-picker .block .flex-item img {
    height: 100px;
    width: 100px;
  }
  .arrow {
    padding-top: 250px;
  }
  .activity-picker {
    padding-top: 80px;
  }
  .activity-picker .h3-label {
    padding-top: 120px;
  }
  .activity-picker .arrow {
    padding-top: 85px;
  }
}
@media screen and (max-width: 800px) {
  .video {
    top: 47%;
    width: unset;
    min-height: 100%;
  }
  .submit-btn {
    bottom: 200px;
  }
  .mood-picker .h3-label {
    padding-top: 85px;
  }
  .mood-picker .block {
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
  }
  .mood-picker .arrow {
    padding-top: 250px;
  }
  .activity-picker .block {
    margin-left: 50px;
    margin-right: 45px;
    padding-top: 50px;
  }
  .activity-picker .arrow {
    padding-top: 130px;
  }
}
@media screen and (max-width: 710px) {
  .activity-picker .arrow {
    padding-top: 10px;
    margin-top: 60px;
  }
}
@media screen and (max-width: 630px) {
  .mood-picker .arrow {
    bottom: 110px;
    position: absolute;
  }
  .mood-picker .block {
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 10px;
  }
  .mood-picker .block .flex-item img {
    height: 90px;
    width: 90px;
  }
  .mood-picker .block .flex-item .hideLabel,
  .mood-picker .block .flex-item .showLabel {
    font-size: 15px;
  }
  .mood-picker .arrow {
    padding-top: 100px;
    margin-top: 100px;
  }
  .activity-picker .h3-label {
    padding-top: 120px;
    font-size: 20px;
  }
  .activity-picker .block .flex-item {
    line-height: 20px;
  }
  .activity-picker .block .flex-item .hideLabel,
  .activity-picker .block .flex-item .showLabel {
    font-size: 15px;
  }
  .activity-picker .block .flex-item .imgA {
    height: 40px;
    width: 40px;
  }
  .activity-picker .arrow {
    padding-top: 20px;
    margin-top: 110px;
  }
  .story-sharer .story-sharer .h3-label {
    font-size: 20px;
  }
  .story-sharer .story-sharer .story-text {
    width: 80%;
  }
}
@media screen and (max-width: 450px) {
  .submit-btn {
    visibility: collapse;
  }
  .mood-picker .arrow {
    bottom: 110px;
    position: absolute;
  }
  .mood-picker .block {
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 10px;
  }
  .mood-picker .block .flex-item img {
    height: 70px;
    width: 70px;
  }
  .mood-picker .block .flex-item .hideLabel,
  .mood-picker .block .flex-item .showLabel {
    font-size: 15px;
  }
  .mood-picker .arrow {
    padding-top: 100px;
    margin-top: 100px;
  }
  .activity-picker .h3-label {
    padding-top: 120px;
    font-size: 20px;
  }
  .activity-picker .block .flex-item {
    line-height: 20px;
  }
  .activity-picker .block .flex-item .hideLabel,
  .activity-picker .block .flex-item .showLabel {
    font-size: 15px;
  }
  .activity-picker .block .flex-item .imgA {
    height: 40px;
    width: 40px;
  }
  .activity-picker .arrow {
    padding-top: 20px;
    margin-top: 110px;
  }
  .story-sharer .story-sharer .h3-label {
    font-size: 20px;
  }
  .story-sharer .story-sharer .story-text {
    width: 80%;
  }
}
