@media screen and (max-width: 1560px) {
  .video {
    width: unset;
  }
}
@media screen and (max-width: 1064px) {
  .video {
    top: 47%;
    width: unset;
    min-height: 100%;
  }
  .mood-picker .h3-label {
    padding-top: 85px;
  }
  .mood-picker .block {
    margin-top: 50px;
  }
  .mood-picker .arrow {
    padding-top: 250px;
  }
  .activity-picker .block {
    margin-top: 10px;
  }
  .activity-picker .arrow {
    padding-top: 85px;
  }
}
@media screen and (max-width: 800px) {
  .video {
    top: 47%;
    width: unset;
    min-height: 100%;
  }
  .mood-picker .h3-label {
    padding-top: 85px;
  }
  .mood-picker .block {
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
  }
  .mood-picker .arrow {
    padding-top: 250px;
  }
  .activity-picker .block {
    margin-left: 50px;
    margin-right: 45px;
    padding-top: 50px;
  }
  .activity-picker .arrow {
    padding-top: 130px;
  }
}
@media screen and (max-width: 710px) {
  .activity-picker .arrow {
    padding-top: 10px;
    margin-top: 60px;
  }
}
@media screen and (max-width: 630px) {
  .mood-picker .block {
    margin-top: 50px;
    margin-left: 30px;
    margin-right: 50px;
  }
}
@media screen and (max-width: 530px) {
  .mood-picker .block {
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 10px;
  }
  .mood-picker .block .flex-item {
    padding-right: 80px;
  }
  .mood-picker .arrow {
    padding-top: 100px;
    margin-top: 100px;
  }
  .activity-picker .arrow {
    padding-top: 20px;
    margin-top: 110px;
  }
}
@media screen and (max-width: 450px) {
  .arrow {
    padding-top: 20px;
    margin-top: 80px;
  }
  .sad {
    height: 20px;
    width: 20px;
  }
}
